#wrapper{border:none; margin:0% auto; padding:0%; width:80%; min-width:1440px;max-width:1600px}
.box{background:#ffffff;padding:2%;margin:2% 0% 0% 2%;width:18%;display:inline-block;vertical-align:top}
.image-box{max-width:40%;float:left;padding:0px 2% 1% 0%;}


