#wrapper{border:none; margin:0% auto; padding:0%; width:80%; min-width:700px;max-width:1439px}
.box{background:#ffffff;padding:2%;margin:2% 0% 2% 2%;width:43%;display:inline-block;vertical-align:top}
.image-box{max-width:40%;float:left;padding:0px 2% 1% 0%;}

