#wrapper{border:none; margin:0%; padding:0%;min-width:200px;width:100%}
.box{background:#ffffff;width:92%;padding:2%;display:inline-block;vertical-align:top}
.image-box{padding:0% 2% 2% 0%;max-width:100px;}

